.button {
  padding: 7px 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #020024;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary {
    background-color: #fff;
    color: #020024;
    &:hover {
      color: #d44c4c
    }
  }

  &.secondary:hover {
    background-color: #fff;
    color: #020024;
  }

  &.close {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url(../images/icon-close.svg);
    background-repeat: no-repeat;
    background-color: unset;
    border: none;

  }
}