.triangle {
  position: relative;
  width: 180px;
  height: 160px;
  margin: 100px 0;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  
  .circle {
    position: absolute;
    cursor: pointer;
    
    &.rock {
      top: -55px;
      left: -55px;
    }
    &.paper {
      bottom: -55px;
      left: 32.5px;
    }
    &.scissors {
      top: -55px;
      right: -55px;
    }
  }
}